
* {
    padding: 0;
    margin: 0;
}
.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url(zeleniloooomiloo.jpg)
    
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(poslednja.jpg)
    
    
}
.container5{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
    
    
}
.operations{
  display: flex;
  flex-direction: column;
}
.racunanje{
  background-color: #6f6f71;
  color: #ddd;
  padding: 10px;
  width: 30px;
  height: 30px;
  margin-right: 50px;
  
  
}
.operacije{

  background-color: #760751;
  color: #ddd;
  padding: 10px;
  width: 30px;
  height: 30px;
  margin-bottom: 50px;
  border: none;
}
.rezultat{
  padding: 10px;
  background-color: #ddd;
  color: #760751;
  width: 60px;
  height: 20px;
  margin-left: 80px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(zeleniloooomiloo.jpg)
    
}
.textarea{
    padding: 20px;
    width: 500px;
    height: 200px;
    text-align: center;
    color: white;
    background-color: #68b381;
}
.end{
    color: rgb(8, 6, 6);
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 100%;
    background-image: url(kockice.svg)
    
    
}

.todo__box {
    box-shadow: 0px 0px 5px 0px #6f6f71;
    
    overflow: hidden;
    padding: 30px;
    width: 70%;
    background-color: white;
}

.h__todo {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 200px;
}

#number {
    width: 120px;
    height: 38px;
    padding-left: 20px;
    margin-left: 10px;
    
}



.btnn1 {
    background-color: transparent;
    border: 2px solid #68b381;
    padding: 10px 10px;
    margin-left: 60px;
    margin-top: 10px;
    
    
    color: #68b381;
}

.btnn1:hover {
   
   border: 2px solid transparent;
}

.button{
    background-color: transparent;
    border: 2px solid #68b381;
    color: #68b381;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}




.btnn2 {
    background-color: transparent;
    border: 2px solid #68b381;
    padding: 10px 26px;
    font-size: 16px;
    color: #68b381;
    margin-left: 30px;
    margin-top: 10px;
    
}

.btnn2:hover {
   
   border-color:transparent;
}









#customers {
    font-family: Arial, Helvetica, sans-serif;
    
    width: 70%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #68b381;
    color: white;
  }



  


  .stl{
    padding: 15px;
    margin-top: 15px;

    background-color: #64c7a6;
    text-align: center;
    border-color:white;
    font-style: oblique;
    color: white;
    font-size: larger;
    
}
table {
    
    width: 50%;
  }
  
  th, td {
    text-align: center;
    padding: 15px;
  }
  
  tr:nth-child(even){background-color: #d6d3b1}
  
  th {
    background-color: #f2f5f6;
    color: black;
  }
  #buzz{
    background-color: #64c7a6;
    border: none;
    
  }
  #fizz{
    background-color: #64c7a6;
    border: none;
  }
  #buzzfizz{
    background-color: #64c7a6;
    border: none;
  }
  #resultbutton{
    background-color: #64c7a6;
    text-align: center;
    border-color:white;
    padding: 15px;
    margin:20px ;
  }
  .tbl{
    background-color: #64c7a6;
  }





  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  table th {
    border: 1px solid black;
    background-color: rgb(159, 72, 72);
    color: white;
    padding: 8px;
    text-align: center;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  table td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }
  
  p {
    text-align: center;
    padding: 8px;
    background-color: rgb(159, 72, 72);
    color: white;
    margin: 16px;
  }