
* {
    padding: 0;
    margin: 0;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(kockice.svg)
    
    
}

.todo__box {
    box-shadow: 0px 0px 5px 0px #6f6f71;
    
    overflow: hidden;
    padding: 30px;
    width: 70%;
    background-color: white;
}

.h__todo {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 200px;
}

#number {
    width: 120px;
    height: 38px;
    padding-left: 20px;
    margin-left: 10px;
    
}



.btnn1 {
    background-color: transparent;
    border: 2px solid #68b381;
    padding: 10px 10px;
    margin-left: 60px;
    margin-top: 10px;
    
    
    color: #68b381;
}

.btnn1:hover {
   
   border: 2px solid transparent;
}

.button{
    background-color: transparent;
    border: 2px solid #68b381;
    color: #68b381;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
}




.btnn2 {
    background-color: transparent;
    border: 2px solid #68b381;
    padding: 10px 26px;
    font-size: 16px;
    color: #68b381;
    margin-left: 30px;
    margin-top: 10px;
    
}

.btnn2:hover {
   
   border-color:transparent;
}









#customers {
    font-family: Arial, Helvetica, sans-serif;
    
    width: 70%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #68b381;
    color: white;
  }